<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteBase /

    # Will automatically redirect files to public directory
    RewriteRule    ^$    public/    [L]
    RewriteRule    (.*) public/$1    [L]
</IfModule>
