/* CSS Document */

header {
	width: 100%;
	postion: relative;
	background-color: #0D0C0C;
	text-align: right;
	color: #D3D3D3;
	padding: 5px 0;
}

header a {
	color: #D3D3D3;
	text-decoration: none;
}

header a:hover {
	color: #FFFFFF;
}

.nav-options{
	display: inline-block;
	margin: 5px 10px;
}

#dropdown, #login-register {
	float: right;
	overflow: hidden;
	margin-right: 100px;
}

#login-register {
	padding: 5px;
	margin-left: 8px;
}

#dropdown-btn {
	padding: 5px 5px 10px 5px;
}


#dropdown-options {
	display: none;
	background-color: #FFFFFF;
	position: absolute;
	min-width: 145px;
	text-align: left;
	-webkit-box-shadow: 0px 0px 5px;
	-moz-box-shadow: 0px 0px 5px; 
	box-shadow: 0px 0px 5px;
	z-index: 1;
}

#dropdown-options a {
	color: #000000;
	display: block;
	border-bottom: thin solid #BCBCBC;
	padding: 10px;
}

#dropdown-options a:hover {
	background-color: #E3E3E3;
}

#dropdown:hover #dropdown-btn {
	color: #FFFFFF;
}

#dropdown:hover #dropdown-options {
	display: block;
}

#main {
	margin: 20px 10% 20px 10%;
	width: 85%;
	float: left;
}

#items-display {
	position: relative;
	width: 100%;
	height: 90%;
	margin: 20px 0;
}

#search-criterias {
	width: 17%;
	height: 80%;
	float: left;
	border: thin solid #000000;
	border-radius: 10px;
}

.criteria {
	margin: 5px;
	border: thin solid #000000;
	border-radius: 10px;
	max-height: 400px;
	overflow-y: scroll;
}

.criteria h3 {
	text-align: center;
}

.criteria a {
	text-decoration: none;
	color: #565656;
}

.criteria a:hover {
	text-decoration: underline;
}

.criteria li {
	margin: 5px 0;
}

#search_head {
	padding-left: 250px;
}

#items {
	float: right;
	width: 80%;
	border-collapse: collapse;
}

#items td {
	width: 30%;
	border: thin solid #B8B8B8;
	height: 300px;
	float: left;
	text-align: center;
}

.store-img {
	margin: 15px 40px 10px 40px;
	height: 55%;
	overflow: hidden;
}

.store-img img {
	width: 100%;
}

#items a {
	text-decoration: none;
	color: #2A2A2A;
}

#items td:hover {
	background-color: #ECECEC;
}

#img-display {
	width: 35%;
	max-height: 100%;
	border: thin solid #000000;
	float: left;
	padding: 10px;
}

#img-display img {
	width: 100%;
}

#img-display, #product-details {
	margin: 20px 5px;
}

#product-details {
	text-align: center;
	font-size: 20px;
}

#user-products {
	margin-left: auto;
	margin-right: auto;
	border: thin solid #000000;
	padding: 5px;
}

#user-products tr:nth-child(odd) {
	background-color: #D8D8D8;
}

#user-products td, th {
	padding: 7px;
}

 /* The Modal - reference w3schools.com */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-btn {
	float: right;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}